body{
       font-family: 'Noto Sans TC', sans-serif;
}

h1,h3,h4,h5{
       font-family: 'Noto Sans TC', sans-serif;
}

h2{
       font-family: 'Noto Serif TC', serif;
}

.text-primary{
       font-family: 'Srisakdi', cursive;
       color: #c5961d;
}
.bg-primary {
       background-color: #574015!important;
background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
